/*

Volton Template

http://www.templatemo.com/tm-441-volton

*/

@font-face {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto-Light-webfont.woff") format("woff"),
    url("../fonts/Roboto-Light-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto-Bold-webfont.woff") format("woff"),
    url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.blue {
  color: #06c;
}

.green {
  color: #090;
}

main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 20px;
  line-height: 24px;
  color: #777777;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

a {
  color: #006699;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  color: #555555;
}

h4 {
  font-size: 24px;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.main-content,
.banner-bg {
  /* float: right; */
  /* width: 77%; */
}
@media screen and (max-width: 1290px) {
  .main-content,
  .banner-bg {
    /* width: 70%; */
  }
}
@media screen and (max-width: 992px) {
  .main-content,
  .banner-bg {
    /* width: 100%; */
  }
}

.content-wrapper {
  padding: 0 80px;
}
@media screen and (max-width: 992px) {
  .content-wrapper {
    padding: 0 30px;
  }
}

h4.widget-title {
  font-size: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 40px;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #dddddd;
  margin-top: 40px;
  margin-bottom: 0;
}

.page-section {
  padding-top: 80px;
}

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.sidebar-menu {
  height: 100vh;
  position: fixed;
  background: linear-gradient(135deg, #1cb5e0bd, #000046bf), url('../img/texture.jpg') no-repeat;
  color: white;
  overflow-y: hidden;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.2);
}

.top-section {
}

.profile-image {
  max-width: 80%;
  margin: 15px auto;
}
.profile-image img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

h3.profile-title {
  margin-bottom: 5px;
  color: white;
  font-size: 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.main-navigation {
}
.main-navigation li {
  display: block;
}
.main-navigation li a {
  padding: 15px 40px;
  display: block;
  color: white;
  font-size: 14px;
}
.main-navigation li a i {
  margin-right: 15px;
  font-size: 24px;
}
.main-navigation li a:hover {
  background: rgba(255, 187, 34, .3);
}
.main-navigation li a.active {
  background: rgba(17, 34, 102, .6);
}
.main-navigation li a.active:hover {
  background: rgba(17, 34, 102, .6);
}

.social-icons {
  display: block;
  padding-top: 15px;
}
.social-icons li {
  display: inline-block;
  margin: 0 1vw;
}

@media (max-width: 992px){
  .social-icons li:first-of-type {
    margin-left: 0;
  }
}

.social-icons a {
  font-size: 18px;
  color: white;
}
.social-icons a:hover {
  color: #fdbb2d;
}

.responsive-header {
  background: linear-gradient(135deg, #1cb5e0bd, #000046bf), url('../img/texture.jpg') no-repeat;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .responsive-header .main-navigation {
    margin-top: 10px;    
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header p {
    color: white;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header .profile-image {
    float: left;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    overflow: hidden;
    margin-right: 30px;
  }
  .responsive-header .profile-content {
    text-align: left;
    margin-top: 30px;
    overflow: hidden;
  }
}


@media screen and (max-width: 992px) {
  .main-navigation a {
    padding: 10px;
  }
  .main-navigation a.active {
    background: rgba(17, 34, 102, .6) !important;
  }
  .main-navigation a:hover {
    background: rgba(255, 187, 34, .3) !important;
  }
}

.toggle-menu {
  width: 100%;
  display: block;
  padding: 20px;
  margin-top: 30px;
  background: rgba(17, 34, 102, .7);
  color: white;
  font-size: 18px;
}
.toggle-menu:hover {
  color: white;
}

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
.banner-bg {
  padding: 260px 80px;
  position: relative;
  background: url("../img/bijou.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(95, 109, 126, 0.4);
  top: 0;
  left: 0;
  z-index: 3;
}

.welcome-text {
  position: relative;
  z-index: 4;
}
.welcome-text h2 {
  font-size: 60px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}
.welcome-text h5 {
  font-size: 22px;
  color: white;
}

/*------ about us ------ */
.about-image {
  overflow: hidden;
  border: 4px solid #dddddd;
  margin-bottom: 40px;
  max-height: 400px;
}
.about-image img {
  width: 100%;
  display: block;
}

.signature {
  position: center;
  overflow: hidden;
  max-height: 200px;
  max-width: 200px;
}
.signature img {
  width: 100%;
  display: block;
}

/*------ projects ------ */
.projects-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}
.projects-holder .col-md-4,
.projects-holder .col-md-4 {
  padding-right: 10px;
  padding-left: 10px;
}

.project-item {
  width: 100%;
  margin: 0 6px 40px 6px;
  overflow: hidden;
  position: relative;
  height: 330px;
  border: 1px solid #c9c9c9;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.project-item img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  object-position: 50% 0%;
}
.project-item:hover .project-hover {
  top: 0;
  opacity: 0.75;
  visibility: visible;
}

.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
}
.project-hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
}
.project-hover h5 {
  font-size: 16px;
  margin-bottom: 15px;
  color: white;
}
.project-hover h5 a {
  color: white;
}
.project-hover p {
  color: white;
  font-size: 13px;
  line-height: 20px;
}

/*------ contact ------ */
.contact-form {
  margin-top: 40px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #aaaaaa;
  padding: 12px;
  color: #999999;
  margin-bottom: 30px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 0;
}
.contact-form .button {
  width: auto;
  background: #2d5f9e;
  color: white;
  text-transform: uppercase;
  border: 0;
}

.big-icon {
  font-size: 40px;
}

.huge-icon {
  font-size: 150px;
}
/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */
#footer p.copyright-text {
  margin: 40px 0;
  font-size: 13px;
}
#footer p.copyright-text a {
  color: #5f6d7e;
}
#footer p.copyright-text a:hover {
  color: #6cc0f7;
}


/*---------------------------------------------------------
Modal Updates
-------------------------------------------------------- */
.night-mode .modal-dialog .modal-header {
  background: #232323;
  border-bottom: 0;
}
.night-mode .modal-content {
  border: none;
}
.night-mode .modal-dialog .modal-header .modal-title {
  color: #fff;
  font-weight: 600;
}
.night-mode .modal-dialog .modal-header p {
  color: #fff;
}
.night-mode .modal-dialog .modal-header a {
  color: #fff;
}
.night-mode .modal-dialog .modal-header button.close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

.night-mode .links-list li a:before {
  border-left-color: #fff;
}

.modal-dialog {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
  max-height: 90vh;
}

.modal-header {
  display: block;
  position: relative;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.modal-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}
.modal-dialog p{
  text-align: center;
  font-size: 1rem;
  padding-top: 5px;
  max-width: 1000px;
  margin: 0 auto;
}
.modal-header a {
  display: block;
  font-size: 1rem;
}
.modal-header button.close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 2rem;
}

.modal-body img  {
  width: auto;
  object-fit: cover;
}

.modal-body{
  text-align: center;
  height: auto;
  padding: 0;
}

.links-list {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}
.links-list li {
  position: relative;
}
.links-list li a {
  padding: 0 20px;
}
.links-list li a:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 30%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #006699;
  transition: all .2s ease;
}
.links-list li a:hover:before {    
  opacity: 1;
  transform: translateX(3px);
  border-left: 8px solid #ff2222;
}


@media (min-width: 768px){
  .modal-dialog {
    width: auto;      
    max-width: 90%;

  }
}
