// ================================================
// Variables
// ================================================

$container-width: 1300px;
$gutter-width: 25px;

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-xl-width: 1500px;

$color-white: #ffffff;
$color-black: #000000;
$color-light-grey-1: #efefef;
$color-medium-grey: #606060;
$color-dark-grey: #1d1d1d;
$color-navy: #212534;
$color-blue: #009efd;
$color-green: #2af598;
$color-slate-blue: #4386ae;

$font-primary: "Poppins-Regular";
$font-primary-semibold: "Poppins-SemiBold";
$font-primary-bold: "Poppins-Bold";
$font-primary-extrabold: "Poppins-ExtraBold";
$font-secondary: "Sono-Regular";
